@font-face {
  font-family: "pixelCowboy";
  src: url("./fonts/pixelCowboy.otf")
}

html {
  background: grey;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "pixelCowboy";
  font-size: .05em;
}

h1 {
  margin: 3px;
  font-size:1.2em;
}
p {
  /*margin:3px;*/
  font-size:.75em;
}

#quilt {

  width:512px;
  height:512px;
  border:black solid 1px;
  margin-top: 3px;

  display:flex;
  flex-wrap: wrap;
}

.pixel {
  width:2px;
  height:2px;
  background-color: red;
}

.section {
  width:64px;
  height:64px;

  display:flex;
  flex-wrap: wrap;
}
.section:hover {
  opacity: .5;
}

#sectionModel {
  width: 640px;
  height:500px;
  background-color: grey;

  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left:0vw;
  top:15vw
}
.modalHeader {
  width: 95%;
  height:45px;
  margin-top:20px;

  display: flex;
  justify-content: space-between;
}
#sectionId {
  margin-top: 2px;
}
.modalBody {
  width:95%;

  display:flex;
  justify-content: space-around;
}
#patch {
  width:384px;
  height:384px;
  border:black solid 1px;

  display:flex;
  flex-wrap: wrap;
}
#colorPalette {
  height:125px;
  width:50px;
  border:black solid 1px;

  display:flex;
  flex-wrap:wrap;
}
.modalBodyLeft {
  width:45px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.modalFooter {
  width: 65%;
  display: flex;
  justify-content: space-between;
}
#selectedColor {
  width:50px;
  height:50px;
  border:black solid 1px;
}
.selectedPixel {
  width:50px;
  height:50px;
}
.palettePixel {
  width:25px;
  height:25px;
}
.palettePixel:hover {
  opacity: .5;
}
.patchPixel {
  width:12px;
  height:12px;
}
.patchPixel:hover {
  opacity: .5;
}
.modalBtn {
  height:40px;
}

@media (min-width: 768px) {
  body {
    font-size: 1em;
  }
  #quilt {
    width:1024px;
    height:1024px;
  }

  .pixel {
    width:4px;
    height:4px;
  }

  .section {
    width:128px;
    height:128px;
  }

  #sectionModel {
    left:25vw;
    top:15vw
  }
}
